.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #670714;
    border: none;
    color: white;
}

.success {
    background-color: #84a232 ! important;
}

.round {
    background-color: #670714;
    border: none;
    color: white;
    border-radius: 25%;
}